h1 {color: #000000; font-family: "Prata", serif}
h2 {color: #000000; font-family: "Prata", serif;  margin-top: 00px;}
h3 {color: #282923; font-family: 'Libre Baskerville', serif, }
h4 {background: #f9f7f7; color: #7d7d7d;font-family:'Quicksand', sans-serif, }
html, body
{height: 100%;}
body {background: #f9f7f7; color: #7d7d7d;font-family:'Quicksand', sans-serif; margin: 0px; min-height: 100%; width: 100%; box-sizing: border-box;}
p { padding: 30px; margin: 20px; margin-top: 0px; margin-bottom: 10px
    padding-top: 00px;}
 .card-white {background: #ffffff; text-align: center; padding: 60px; margin: 50px; box-shadow: 0px 10px 20px;
    border-radius: 1%; }

#back {background: #e3deda; padding: 30px; }

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .card-white {
    width: 500px; margin-top: 10px; margin-bottom: 10px; margin-left: auto; margin-right: auto; padding: 40px;  ;
  }
  .card-white img { width: 300px; padding: 20px;}
  .pictures img { width: 300px; padding: 20px;}
   #pics { width: 300px; padding: 20px;}
}


@media (max-width: 720px) {
  .card-white {
    width: 400px; margin-top: 10px; margin-bottom: 10px; margin-left: auto; margin-right: auto; padding: 40px;  
  }
  .pictures img { width: 200px; padding: 20px;}
   #pics { width: 200px; padding: 20px;}

}

@media (max-width: 540px) {
  .card-white {
    width: 350px; margin-top: 10px; margin-bottom: 10px; margin-left: auto; margin-right: auto; padding: 40px;  ;
  }
  .card-white img { width: 100px; padding: 10px;}
  #pics { width: 100px; padding: 20px;}
}


.list-inline{color: #7d7d7d; padding-left: 0px; list-style: none;}
.list-inline li{ color: #7d7d7d; display: inline; padding: 10px;}
li {color: #7d7d7d; }
li a { text-decoration: none; color: #7d7d7d; width: 20px; height: 20px}
.li:hover {background-color: #282923; color: #e3deda;}

#img-round { border: black ; border-radius: 50%; width: 150px; height: 150px }

#btn {background: #f9f7f7;
    padding: 15px 15px;
    border-radius: 5%; text-decoration: none; box-shadow: 0px 1px 2px;}
#btn:hover {background-color: #282923; color: #e3deda;}
a#btn {text-decoration: none; color: #7d7d7d}

.banner {background-size: cover; background-image: linear-gradient( -500deg,rgba(0,0,0,0.8),rgba(0,0,0,0.1)), url(image/flowers.JPG); color: white ; padding: 100px 0px; background-size: cover ; background-position: center;}
.banner h1{ color: white; font-size: 40px }
.banner h2{ color: white; font-size: 20px; opacity: 0.7; font-weight: lighter; }
.banner h3 {color: white; font-family: 'Libre Baskerville', serif, }

.container {width: 700px; margin: 0px auto; padding-top: 100px; text-align: center; 
}

.pictures { flex-basis: 300px; flex-grow: 1; margin: 10px;}
.pictures img { width: 200px; padding: 20px;}








